{% extends "index.html" %}
{% block content %}

<!-- Output ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    
<!-- No Flask variables inserted yet -->

<div class="formblock" id="choosetext">
	<h3>Behold! Your creation:</h3>
	<hr/>
	<h2 style="color:#000;text-align:center;text-shadow:none;">Your personalized version of<br/>{{ newtitle }}</h2>
	<p style="text-align:center"><em>Featuring</em></p>
	<table id="featuring">
	<tr><td>{{ name1 }}</td><td>as</td><td>{{ char1 }}</td></tr>	
	<tr><td>{{ name2 }}</td><td>as</td><td>{{ char2 }}</td></tr>
	<tr><td>{{ name3 }}</td><td>as</td><td>{{ char3 }}</td></tr>
	<tr><td>{{ name4 }}</td><td>as</td><td>{{ char4 }}</td></tr>
	<tr><td>{{ name5 }}</td><td>as</td><td>{{ char5 }}</td></tr>
	</table>

<center>
<input class="btn btn-success" value="Click to generate ebook & send to friends" style="width:500px; margin:20px auto"/>
</center>
</div>


{% endblock %}